.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
*.log

# Generated JSON Assets
dashboard-config.json
data.json
globalTradeData.json
tradeData.json
usa-map-dimensions.json
